/*****************IMPORTS*/
@import 'nullstyle.scss';
/*****************COLORS*/
$keyboard-grey: rgb(112, 111, 111);
$keyboard-fon: rgb(206, 200, 200);
$keyboard-key: rgb(41, 37, 37);
$keyboard-hoverkey: rgb(63, 68, 85);
$keyboard-white: #fff;
/*******************MAIN*/
